/* *, */
nav .nav_icons {
    margin: auto 20px auto 0;
    cursor: pointer;
}

body {
    background-color: whitesmoke;
}

.hero {
    color: white;
    background-color: rgb(0, 102, 128);
    font-size: small;
}

.herox {
    font-size: small;
    border-radius: 25px;
}

.table th,
.table td {
    height: 2cm;
    font-size: smaller;
}

.asteriskField {
    display: none;
}

.select,
.chainedselect {
    font-size: 12px;
}

#id_score {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.off_canv {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.off_canv_icons {
    margin-left: 6px;
    width: fit-content;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: white; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: small;
    color: red;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: blue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* ##### */

.post_task {
    display: flex;
}

.postx,
.taskx {
    overflow: auto;
    border-radius: 10px;
    overflow-x: auto;
}

.taskx {
    margin-left: 2px;
}

.postx {
    margin-right: 2px;
}

.card_g {
    display: flex;
}

.cardx {
    width: 30px;
    font-size: small;
    background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.postx::-webkit-scrollbar,
.taskx::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.postx,
.taskx {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media screen and (max-width: 1024px) {
    .post_task {
        display: block;
    }
}

@media screen and (max-width: 725px) {
    .card_g {
        display: grid;
        grid-template-areas:
            "a c"
            "b d"
        ;
    }

    .cardx {
        width: auto;
    }
}