* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: whitesmoke;
    --secondary-color: white;
}

.dark_theme {
    --primary-color: #010101;
    --secondary-color: #141414;
}

nav {
    background-color: var(--secondary-color);
}

nav .nav_icons {
    margin: auto 10px auto 0;
    cursor: pointer;
}

nav .nav_icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

body {
    background-color: var(--primary-color);
}

.reg_container {
    font-size: small;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.hero {
    color: var(--secondary-color);
    background-color: rgb(0, 102, 128);
    font-size: small;
}

.herox {
    font-size: small;
    border-radius: 25px;
}

.container_x {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.table th,
.table td {
    height: 2cm;
    font-size: smaller;
}

.table thead th {
    height: 1cm;
}

.table .empty {
    border-bottom: None;
}

.asteriskField {
    display: none;
}

.select,
.chainedselect {
    font-size: 12px;
}

#id_score {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.off_canv {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
}

.sidenav {
    /* margin-top: -12px; */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: var(--secondary-color);
}

.sidenav a {
    padding: 4px 0;
    text-decoration: none;
    font-size: small;
    color: rgba(128, 128, 128, 0.767);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.active {
    color: rgb(0, 102, 128);
    background-color: var(--primary-color);
    border-right: 3px solid rgb(0, 102, 128);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.post_task {
    display: flex;
}

.postx,
.taskx,
.chart_container {
    overflow: auto;
    border-radius: 10px;
    overflow-x: auto;
}

.taskx {
    margin-left: 2px;
}

.postx {
    margin-right: 2px;
}

.card_g {
    display: flex;
}

.cardx {
    width: 30px;
    font-size: small;
    background-color: var(--secondary-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .card_g::-webkit-scrollbar, */
.postx::-webkit-scrollbar,
.taskx::-webkit-scrollbar,
.chart_container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* .card_g, */
.postx,
.taskx,
.chart_container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.chart_container {
    display: flex;
}

.chart {
    width: 70%;
}

.chart2 {
    width: 30%;
}

.mentors {
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mentor_img {
    width: 29%;
    margin: 2%;
    border-radius: 5%;
    position: relative;
    outline: none;
    background-color: transparent;
    border: 0;
}

.mentor_img_items {
    font-size: small;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -1%);
    color: white;
}

.mentor_img_items .mentor_links {
    justify-content: space-between;
}


.mentor_img_items button {
    border: none;
    border-radius: 10px;
    padding: 0 10px;
}

.mentor_img_items .fa {
    color: white;
}

.user_profile_container_x {
    width: 60%;
}

.user_profile img {
    width: 150px;
}


@media screen and (max-width: 1024px) {
    .post_task {
        display: block;
    }

    .taskx {
        width: 99.5%;
    }

    .container_x {
        width: auto;
    }

    .user_profile_container_x {
        width: 70%;
    }

    @media screen and (max-width: 725px) {

        .reg_container {
            width: 95%;
        }

        .card_g {
            display: grid;
            grid-template-areas:
                "a c"
                "b d"
            ;
        }

        .cardx {
            width: auto;
        }

        .chart {
            width: 500px;
        }

        .chart2 {
            width: 180px;
        }


        .mentors {
            display: inline-block;
        }

        .mentor_img {
            width: fit-content;
            margin-bottom: 5%;
        }

        .user_profile_container {
            display: flex;
            flex-direction: column;
        }

        .user_profile img {
            width: 100px;
        }

    }

}

/*
search for location of custom class in bash eg 
$ grep -rnw . -e 'container_x'
*/