<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
</head>

<body style="background-color: black; margin-top: 40vh">
    <section style="color: whitesmoke; text-align: center">
        <div style="font-size: 120px">
            404
        </div>
        <div style="font-size: 12px;">
            Lost? Not found!
        </div>
    </section>
</body>

</html>