<table class="table table-hover m-0 table-sm caption-top">
    <caption><strong>Recent Posts</strong></caption>
    <thead>
        <th>
            TITLE
        </th>
        <th>
            CATEGORY
        </th>
    </thead>
    {% for article in article %}
    <tbody>  
        <tr>
            <td>
          {{article.title}} <br>
            By {{article.posted_by}}, {{posted_on|timesince}}
            </td>
            <td>
                {{article.category}}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="empty">
                No posts yet!
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
