<nav class="fixed-top d-flex">
    <div class="container-fluid d-flex">
        {% if user.is_authenticated %}
        <span style="font-size:32px; cursor:pointer" onclick="openNav()">&#9776;</span>
        {% endif %}
        <div style="margin: auto 0 auto 3px;">
            <a class="navbar-brand" href="{% url 'dashboard' %} ">I4G x ZURI</a>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="d-flex" style="margin: auto 0">
        <div class="nav_icons">
            <i id="theme_icon" style="font-size:20px" class="fa">&#xf204;</i>
        </div>
        <div class="nav_icons">
            <i style="font-size:20px" class="fa">&#xf0a2;</i>
            <!-- <i style="font-size:20px" class="fa">&#xf0f3;</i> -->
        </div>
        <div class="nav_icons">
            <a href="{% url 'profile' %}"><img src="{{user.pictures.url}}" alt="display picture"></a>
        </div>
    </div>
    {% else %}
    <div class="d-flex nav_icons m-1">
        <div class="d-flex p-2">
            <a href="{% url 'login' %}">Login</a>
        </div>
        <div class="d-flex p-2">
            <a href="{% url 'student_signup' %}">Register</a>
        </div>
    </div>
    {% endif %}
</nav>