<!-- Offcanvas -->
<div class="off_canv text-muted mt-2">
    <div>
        <div class="off_canv_icons d-flex mb-4">
            <i style="font-size:20px; margin-right: 5px;" class="fa">&#xf200;</i>
            <a href="#">Dashboard</a>
        </div>
        <div class="off_canv_icons d-flex mb-4">
            <i style="font-size:20px; margin-right: 5px;" class="fa">&#xf121;</i>
            <a href="#">Tasks</a>
        </div>
        <div class="off_canv_icons d-flex mb-4">
            <i style="font-size:20px; margin-right: 7px;" class="fa">&#xf02d;</i>
            <a href="#">Posts</a>
        </div>
        <div class="off_canv_icons d-flex mb-4">
            <i style="font-size:20px; margin-right: 11px;" class="fa">&#xf007;</i>
            <a href="#">User</a>
        </div>
        <div class="off_canv_icons d-flex mb-4">
            <i style="font-size:20px; margin-right: 5px;" class="fa">&#xf0c0;</i>
            <a href="#">Mentors</a>
        </div>
        <div class="off_canv_icons d-flex mb-4">
            <i style="font-size:24px; margin-right: 5px;" class="fa">&#xf013;</i>
            <a href="#">Settings</a>
        </div>
    </div>
    <div class="off_canv_icons d-flex mb-4">
        <i style="font-size:20px;  margin-right: 5px;" class="fa">&#xf011;</i>
        <a href="#">Logout</a>
    </div>
</div>

{% comment %} <p>Unicode:</p>
<i style=" font-size:24px" class="fa">&#xf200;</i> chart
<i style="font-size:24px" class="fa">&#xf02d;</i> article/book
<i style="font-size:24px" class="fa">&#xf1ea;</i> newspaper/post
<i style="font-size:24px" class="fa">&#xf011;</i> power/logout
<i style="font-size:24px" class="fa">&#xf2bd;</i> user dark
<i style="font-size:24px" class="fa">&#xf2be;</i> user light
<i style="font-size:24px" class="fa">&#xf007;</i> user profile
<i style="font-size:24px" class="fa">&#xf0c0;</i> mentors
<i style="font-size:24px" class="fa">&#xf1de;</i> settings?
<i style="font-size:24px" class="fa">&#xf109;</i> laptop/tasks
<i style="font-size:24px" class="fa">&#xf121;</i> code/tasks
<i style="font-size:24px" class="fa fa-spin">&#xf013;</i> gear/settings
{% endcomment %}