<!-- Offcanvas -->
<div class="off_canv">
    <div>
      <a class="d-flex pb-3 pt-3 {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">
        <i style="font-size:16px; margin: auto 6px auto 4px" class="fa">&#xf200;</i>
        Dashboard
      </a>
      <a class="d-flex pb-3 pt-3 {% if request.path == '/tasks/' %}active{% endif %}" href="{% url 'all_tasks' %}">
        <i style="font-size:16px; margin: auto 6px auto 4px;" class="fa">&#xf121;</i>
        Tasks
      </a>
      <a class="d-flex pb-3 pt-3 {% if request.path == '/posts/' %}active{% endif %}" href="{% url 'all_posts' %}">
        <i style="font-size:16px; margin: auto 7px auto 4px;" class="fa">&#xf02d;</i>
        Posts
      </a>
      <a class="d-flex pb-3 pt-3 {% if request.path == '/profile/' %}active{% endif %}" href="{% url 'profile' %}">
        <i style="font-size:16px; margin: auto 9px auto 4px;" class="fa">&#xf007;</i>
        User
      </a>
      <a class="d-flex pb-3 pt-3 {% if request.path == '/mentors/' %}active{% endif %}" href="{% url 'all_mentors' %}">
        <i style="font-size:16px; margin: auto 5px auto 4px;" class="fa">&#xf0c0;</i>
        Mentors
      </a>
      <a class="d-flex pb-3 pt-3 {% if request.path == 'settings' %}active{% endif %}" href="">
        <i style="font-size:16px; margin: auto 6px auto 4px;" class="fa">&#xf013;</i>
        Settings
      </a>
    </div>
    <a class="d-flex pb-3 pt-3" href="{% url 'logout' %}">
      <i style="font-size:16px; margin: auto 6px auto 4px;" class="fa">&#xf011;</i>
      Logout
    </a>
  </div>