{% load status_tag %}
{% block task %}
<span class="visually-hidden">{{user | user}}</span>

    <strong>Latest Tasks</strong>
    <table class="table table-hover m-0 table-sm">
        <thead>
            <tr>
                <th scope="col"> COURSE </th>
                <th scope="col"> TASK TITLE </th>
                <th scope="col"> POINT </th>
                <th scope="col"> WEIGHT </th>
                <th scope="col"> DEADLINE </th>
                <th scope="col"> SUBMISSION STATUS </th>
                <th scope="col"> -- </th>
            </tr>
        </thead>
        {% for task in task %}
        {% now "DATETIME_FORMAT" as current_time %}
        <tbody>
            <tr>
                <td>{{task.audience}}</td>
                <td>
                    {{task.title}} <br>
                    {{task.task | truncatewords:5}}
                </td>
                <td>
                    {{task|score}}
                </td>
                <td> {{task.weight}}.00 </td>
                <td>
                    {% if current_time > task.deadline|date:"DATETIME_FORMAT" %}
                    Submission Closed
                    {% comment %} <small>{{task.deadline|timesince}} ago.</small> {% endcomment %}
                    {% else %}
                    {{task.deadline | timeuntil}}.
                    {% endif %}
                </td>
                <td>{{task | status}}</td>
                <td>
                    {% if current_time < task.deadline|date:"DATETIME_FORMAT" and task|status == "Not Submitted" %} <a
                        href="{% url 'task' task.id %}">View</a>
                        {% else %}
                        {% endif %}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endblock task %}