{% extends '_base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{{submission}}
<br>
{{submission.submission}}
<br>
{{submission.submitted_for}}



<form action="" method="post">
    {% csrf_token %}
    {{form.media}}
    <div class="row">
        <div class="col-4" style="padding-right: 0%;">
            {{form.score | as_crispy_field}}
        </div>
        <div class="col-1 p-0" style="margin-top: 32px;">
            <span class="input-group-text" id=""
                style="border-top-left-radius: 0px;  border-bottom-left-radius: 0px">{{submission.submitted_for.weight}}</span>
        </div>
    </div>
    <div>
        {{form.feedback | as_crispy_field}}
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm_submission">
        Grade
    </button>

    <!-- Modal -->
    <div class="modal fade" id="confirm_submission" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="">{{ submission }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Confirm Submission
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}