{% extends '_base.html' %}
{% block tite %}Mentors Dashboard{% endblock tite %}

{% block content %}
<br><br><br>
<div class="container">
    <h3>
        User Summary
    </h3>
    {% include "_charts.html" %}
    <hr>
    <h3>
        Submissions
    </h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"> TASK TITLE </th>
                <th scope="col">STUDENT NAME </th>
                <th scope="col"> TIME STATUS </th>
                <th scope="col"> STATUS </th>
                <th scope="col"> -- </th>
            </tr>
        </thead>
        {% for submission in submissions %}
        <tbody>
            <tr>
                <td>{{submission.submitted_for}}</td>
                <td>{{submission.submitted_by.username.first_name}}</td>
                <td>{{submission.submitted_for.deadline | timeuntil}}</td>
                <td>
                    {% if submission.graded_by %}
                    graded by
                    {{submission.graded_by}},
                    <br>
                    {{submission.graded_at}}
                    {% else %}
                    Awaiting
                    {% endif %}
                </td>
                <td><a href="{% url 'subs' submission.id %}">View</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock content %}