{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block tite %}Submit Task{% endblock tite %}

{% block content %}

<div class="container container_x" style="margin-top: 100px">
<div>
    <div class="fs-2">
        {{task.title}}
    </div>
    <div>
        {{task.task}}
    </div>
</div>

<form action="" method="post">
    {% csrf_token %}
    {{ form.media }}
    {{form | crispy}}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm_submission">
        Submit
    </button>

    <!-- Modal -->
    <div class="modal fade" id="confirm_submission" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="">{{ task.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Please confirm your submission as you will not be able to change or re-submit this task once submitted.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input class="btn btn-danger" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</form>
</div>

{% endblock content %}