{% extends '_base.html' %}
{% block content %}
<div class="container mb-5 mt-5" style="font-size: small;">
    {% if user.is_authenticated %} <br><br>
    {% comment %} <fieldset disabled> {% endcomment %}
        <div class="mb-3 d-flex justify-content-evenly user_profile_container">
            <div class="user_profile">
                <img src="{{user.pictures.url}}" alt="">
            </div>
            <div class="user_profile_container_x">
                <div class=" d-flex justify-content-evenly">
                    <div class="mb-3">
                        <label for="" class="form-label">Username</label>
                        <input class="form-control" type="text" value="{{user}}" aria-label="readonly input" readonly>
                    </div>
                    {% if not is_mentor %}
                    <div class="mb-3">
                        <label for="" class="form-label">Student ID</label>
                        <input class="form-control" type="text" value="{{profile.student_id}}"
                            aria-label="readonly input" readonly>
                    </div>
                    {% else %}
                    <div class="mb-3">
                        <label for="" class="form-label">Mentor ID</label>
                        <input class="form-control" type="text" value="007" aria-label="readonly input" readonly>
                    </div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-evenly">
                    <div class="mb-3">
                        <label for="" class="form-label">Email</label>
                        <input class="form-control" type="text" value="{{user.email}}" aria-label="readonly input"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Phone</label>
                        <input class="form-control" type="" value="{{user.phone}}" aria-label="readonly input" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-around">
            <div class="">
                <label for="" class="form-label">First Name</label>
                <input class="form-control" type="" value="{{user.first_name}}" aria-label="readonly input" readonly>
            </div>
            <div>
                <label for="" class="form-label">Middle Name</label>
                <input class="form-control" type="" value="{{user.middle_name}}" aria-label="readonly input" readonly>
            </div>
            <div>
                <label for="" class="form-label">Last Name</label>
                <input class="form-control" type="" value="{{user.last_name}}" aria-label="readonly input" readonly>
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-around">
            <div class="">
                <label for="" class="form-label">Track</label>
                <input class="form-control" type="" value="{{user.track}}" aria-label="readonly input" readonly>
            </div>
            <div>
                <label for="" class="form-label">Gender</label>
                <input class="form-control" type="" value="{{user.gender}}" aria-label="readonly input" readonly>
            </div>
            <div>
                <label for="" class="form-label">Age</label>
                <input class="form-control" type="" value="{{user.age}}" aria-label="readonly input" readonly>
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-around">
            <div class="">
                <label for="" class="form-label">Country</label>
                <input class="form-control" type="" value="{{user.country}}" aria-label="readonly input" readonly>
            </div>
            <div>
                <label for="" class="form-label">State/Region</label>
                <input class="form-control" type="" value="{{user.state}}" aria-label="readonly input" readonly>
            </div>
            {% if is_mentor %}
            <div class="">
                <label for="" class="form-label">Experience</label>
                <input class="form-control" type="" value="{{profile.experience}}" aria-label="readonly input" readonly>
            </div>
            {% else %}
            <div>
                <label for="" class="form-label">Experience level</label>
                <input class="form-control" type="" value="{{profile.experience_level}}" aria-label="readonly input"
                    readonly>
            </div>
            {% endif %}
        </div>
        <div class="mb-3 d-flex justify-content-around">
            {% if not is_mentor %}
            <div>
                <label for="" class="form-label">Employment Status</label>
                <input class="form-control" type="" value="{{profile.employment_status}}" aria-label="readonly input"
                    readonly>
            </div>
            {% endif %}
            <div>
                <label for="" class="form-label">GitHub</label>
                <input class="form-control" type="" value="{{user.github}}" aria-label="readonly input" readonly>
            </div>
            <div>
                <label for="" class="form-label">LinkedIn</label>
                <input class="form-control" type="" value="{{user.linkedin}}" aria-label="readonly input" readonly>
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-evenly">
            <button class="btn btn-danger">Edit Details</button>
        </div>
        {% endif %}
</div>
{% endblock content %}